.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: auto;
}

.animated-logo-main {
	width: 260px;
}

.animated-logo-main {
	--logoWidth: 630;
	display: flex;
	justify-content: center;
	flex: 0 1 auto;
	flex-wrap: wrap;
}

.animated-logo-main > * {
	--multiplicator: 8px;
	fill: none;
	height: calc((var(--logoWidth) / 73) * var(--multiplicator));
	margin: 0 0.5vw;
	overflow: visible;
}

.animated-logo-main svg > * {
	pointer-events: none;
}

.animated-logo-main .stroke {
  stroke: var(--mainColor);
}

.animated-logo-main .fill {
	fill: var(--mainColor);
}

.animated-logo-main .blue {
	fill: #44C7FF;
	background-blend-mode: multiply;
}

.animated-logo-main .red {
	fill: #FF1686;
	background-blend-mode: multiply;
}

.animated-logo-text {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	letter-spacing: -0.12em;
	color: var(--mainColor);
	width: 100%;
	margin: 4px 0 auto;
}

.animated-logo-text p {
	font-size: 40px;
	margin: 0;
	text-align: center;
}

.animated-logo-text span {
	display: block;
	line-height: 0.9;
	margin: 0;
}

.animated-logo-text span:nth-of-type(2n) {
	font-size: 0.7em;
}

.animated-logo-text span:nth-of-type(3n) {
	font-size: 0.5em;
	margin-top: 2px;
}

@media (min-width: 500px) {
	.animated-logo-main { width: 360px; }
	.animated-logo-main > * { --multiplicator: 12px;	}

	.animated-logo-text p {
		font-size: 46px;
	}
}

@media (min-width: 728px) {
	.animated-logo-main { width: 564px; }

	.animated-logo-text p {
		font-size: 52px;
		text-align: left;
		margin-left: 32%;
	}
}

@media (min-width: 1078px) {
	.animated-logo-main { width: 100%; }

	.animated-logo-text p {
		font-size: 38px;
		margin-left: 29.9%;
	}
}

@media (min-width: 1200px) {
	.animated-logo-main > * {
		--multiplicator: calc(12px + (18 - 12) * (100vw - 1200px) / (1600 - 1200));
	}

	.animated-logo-text p {
		font-size: calc(38px + (56.5 - 38) * (100vw - 1200px) / (1600 - 1200));
		letter-spacing: -0.04em;
	}
}

#C, #O, #P { margin: 0; }
#S { margin-left: 0.2vw; }
#O2 { margin: 0 0 0 0.2vw; }
#O3 { margin-left: 0.2vw; }
#L { margin-left: 0; }
#I { margin: 0 0.6vw 0 0.4vw; }
